<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <arg name="ground_vehicle" default="true" />
  <arg name="resolution" default="0.2" />

  <node pkg="msfm3d" type="msfm3d" name="global_planning">
    <!-- Inputs (Subscribed Topic Names) -->

    <remap from="octomap_binary" to="merged_map"/>
    <remap from="odometry" to="odom"/>

    <!-- Outputs (Published Topic Names) -->

    <!-- <remap from="nearest_frontier" to="nearest_frontier_2"/> -->
    <!-- <remap from="frontier_goal_pose" to="frontier_goal_pose_2"/> -->
    <!-- <remap from="planned_path" to="planned_path_2"/> -->
    <!-- <remap from="frontier" to="frontier_2"/> -->
    <!-- <remap from="goalFrustum" to="goalFrustum_2"/> -->
    <!-- <remap from="inflated_octomap" to="inflated_octomap"/> -->
    <!-- <remap from="artifact_list" to="report_artifact"/> -->
    <!-- <remap from="voxblox_node/tsdf_pointcloud" to="voxblox_node/esdf_pointcloud"/> -->
    <remap from="voxblox_node/tsdf_pointcloud" to="cost_map"/>


    <!-- Parameters -->
    <!-- Map Resolution -->
    <param name="resolution" value="$(arg resolution)"/>

    <!-- The planner assumes the vehicle is an air vehicle.  If the vehicle is constrained to the ground (wheeled vehicle), set to true. -->
    <param name="isGroundVehicle" value="true"/>

	 <!-- Whether or not you want to use an Occupancy Grid or an ESDF map type -->
    <param name="useOctomap" value="true"/>

    <!-- Name of the map world frame -->
    <param name="frame_id" type="string" value="map"/>

    <!-- Frontier Clustering parameters (in voxels) -->
    <param name="cluster_radius" value="0.35" />
    <param name="min_cluster_size" value="45" />
    <param name="normalThresholdZ" value="0.4" />

    <!-- Number of ticks before replanning -->


    <!-- Location of the environment entrance. (Default is [0.0, 0.0, 0.0])  The robot will not explore area within entrance_radius meters of this point -->
    <param name="entrance_x" value="-13.0" />
    <param name="entrance_y" value="-6.0" />
    <param name="entrance_z" value="0.6" />
    <param name="entrance_radius" value="20.0" />

    <!-- Vehicle Fence Volume Limits -->
    <!-- <param name="fenceOn" value="true"/>
    <param name="fence_xmin" value="-1000.0"/>
    <param name="fence_xmax" value="1000.0"/>
    <param name="fence_ymin" value="-1000.0"/>
    <param name="fence_ymax" value="1000.0"/>
    <param name="fence_zmin" value="-50.0"/>
    <param name="fence_zmax" value="3.0"/> -->

    <!-- Vehicle Volume Extents -->
    <param name="vehicleVolumeOn" value="true"/>
    <param name="vehicleVolumeXmin" value="-0.2"/>
    <param name="vehicleVolumeXmax" value="0.2"/>
    <param name="vehicleVolumeYmin" value="-0.2"/>
    <param name="vehicleVolumeYmax" value="0.2"/>
    <param name="vehicleVolumeZmin" value="-0.2"/>
    <param name="vehicleVolumeZmax" value="0.2"/>



    <!-- Fix the delta z in voxels from the vehicle current height that are considered frontiers -->
    <param name="dzFrontierVoxelWidth" type="int" value="-1"/>


  </node>

</launch>
